# Machine Learning for Absolute Beginners

# Load Libraries

In [1]:
# load libraries
import pandas as pd

# 0. Create DataFrame

In [2]:
url = "https://tinyurl.com/titanic-data-csv"

In [3]:
df = pd.read_csv(url)

# 1. Describe Data

In [4]:
# show first five rows

In [5]:
# dataframe info

In [6]:
# dataframe statistics

In [ ]:
# show dataframe shape

In [7]:
# show dataframe size

In [ ]:
# show counts of missing values

In [ ]:
# visualize missing values

# 1. Select and Filter Data

In [ ]:
# select rows based on index iloc

In [ ]:
# select rows based on index

In [ ]:
# selecting one row returns a series object

In [ ]:
# select single column

In [ ]:
# alternately use dot notation (discouraged)
# df.Name

In [ ]:
# select multiple columns by specifying a list

In [ ]:
# select columns based on column labels with .loc

In [ ]:
# select range of columns

In [ ]:
# select rows and columns with list for columns

In [ ]:
# Select Rows Based on conditionals

In [ ]:
# multiple conditions

In [ ]:
# chain commands

In [ ]:
# What was the mean age of everyone who embarked in Southampton?
# What was the mean fare of all men who embarked in Cherbourg? and or ...

# Grouping Rows by Values

In [ ]:
# group by sex

In [ ]:
# summarize by mean

In [ ]:
# summarize by count

In [ ]:
# what are the counts for those who embarked by port
# and survival counts

In [ ]:
# group by embarked

In [ ]:
# counts

In [ ]:
# mean

In [ ]:
# value counts of survivors

In [ ]:
# value counts of survivors normalized

In [ ]:
# multiple groupby Embarked, Sex; mean fare

In [ ]:
# multiple groupby Pclass, Sex; Count

In [ ]:
# multiple groupby Pclass, Sex; mean fare